/*Importar Fuente Roboto de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Reset HTML*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos Barra de Navegación*/
header {
    border-bottom: solid 3px #98AD8F;
    padding: 25px 100px;
}

header div h1 {
    color: #06261A;
    font-size: 40px;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.boton-reserva div li {
    background-color: #98AD8F;
    padding: 9px;
    border-radius: 20px;
}

.ubicacion-navegacion {
    color: #ffd966;
}


/*Estilos Barra de Navegación Flexbox*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.navbar1-li {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.boton-reserva {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.boton-reserva-li {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.navbar2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilos Pie de Página*/
footer {
    background-color: #06261A;
    color: white;
    font-size: 20px;
    padding: 30px 100px;
}

footer h5 {
    padding-bottom: 10px;
    line-height: 2;
}

footer div ul {
    list-style: none;
}

footer div ul li {
    margin-right: 10px;
}

/*Estilos Pie de Página Flexbox*/
footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div ul {
    display: flex;
}

/*Estilos Generales del Body*/
body {
    font-family: "Roboto", sans-serif;
}

.color-body-verde {
    background-color: #EFFAE0;
}

.color-body-blanco {
    background-color: #F9F9F9;
}

/*Estilos Color de Fondo*/
.fondo-amarillo {
    background-color: #ffd966;
}

.fondo-blaco {
    background-color: #F9F9F9;
}

.fondo-rosa {
    background-color: #FADFDF;
}

.fondo-verde-medio {
    background-color: #98AD8F;
}

.fondo-azul {
    background-color: #B9E1FF;
}

/*Estilos Títulos*/
.h2-titulo-verde {
    color: #06261A;
    font-size: 60px;
}

.h3-titulo-negro {
    color: black;
    font-size: 35px;
}

.h3-titulo-verde {
    color: #06261A;
    font-size: 35px;
}

.h4-titulo-negro {
    color: black;
    font-size: 28px;
}

.h4-titulo-verde {
    color: #06261A;
    font-size: 28px;
}

.h5-titulo-negro {
    color: black;
    font-size: 20px;
}

/*Estilos Párrafos*/
.estilo-parrafo1 {
    color: black;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
}

.estilo-parrafo2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

/*Estilo Borde*/
.borde-negro {
    border: solid 3px black;
    border-radius: 10px;
}

/*Estilo Alineación*/
.alineacion-center {
    text-align: center;
}

/*Estilos Img*/
.estilo-img img {
    width: 100%;
}

/*Estilos Box Modeling*/
.pad-default {
    padding: 30px;
}

.mar-default {
    margin: 30px;
}

/*Estilos index*/
.clientes-felices {
    width: 350px;
}

.ingredientes article {
    width: 450px;
}

/*Estilos index Flexbox y Grids*/
.index-section1 {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "index-section1-1 index-section1-1 index-section1-1 index-section1-2"
    ;
}

.index-section1-1 {
    grid-area: index-section1-1;
}

.index-section1-2 {
    grid-area: index-section1-2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
}

.index-section1-2 h3 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.index-section1-2 div {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

.ingredientes {
    display: flex;
    justify-content: space-between;
}

.index-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-section2-1 article div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/*Estilos nosotros Flexbox*/
.nosotros-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Estilos menu*/
.h4-titulo-menu section div article h4 {
    color: #06261A;
    font-size: 28px;
}

.estilo-parrafo2-menu section div article p {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.width-menu {
    width: 60%;
}

.h5-titulo-negro section div article h5 {
    color: black;
    font-size: 20px;
}

.pad-menu article {
    padding: 10px 0px;
}

/*Estilos menu Flexbox*/
.menu-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-section2 {
    display: flex;
    justify-content: space-between;
}

/*Estilos promos*/
.promos-width {
    width: 35%;
}

/*Estilos promos Grids*/
.promos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.promos-grid img {
    grid-column: 1/3;
    grid-row: 1/2;
}

.promos-grid h4 {
    grid-column: 1/3;
    grid-row: 1/2;
}

/*Estilos reserva*/
form {
    width: 40%;
}

form label {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

form input {
    width: 100%;
    color: black;
    font-size: 15px;
    border: solid 1.5px black;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 0px;
}

#reservar {
    font-size: 25px;
    font-weight: bold;
    background-color: #ffd966;
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: center;
}

/*Estilos reserva Flexbox*/
.reserva-flex {
    display: flex;
    justify-content: center;
}

.reserva-flex form {
    display: flex;
    flex-direction: column;
}