header {
    border-bottom: solid 3px $colorFondoVerdeMedio;
    padding: 25px 80px;
    nav {
        ul {
            list-style: none;
            @include flexSpaceBetweenCenter;
            div {
                display: flex;
                li {
                    a {
                        text-decoration: none;
                        color: $colorLetrasNegro;
                        font-weight: bold;
                        font-size: 20px;
                        &:hover {
                            color: $colorFondoAmarillo;
                        }
                    }
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 1s linear;
                    }
                }
                h1 {
                    color: $colorLetrasVerde;
                    font-size: 40px;
                }
            }
        }
    }
}

.ubicacion-navegacion {
    color: $colorFondoAmarillo;
}

.navbar1 {
    justify-content: space-between;
    flex: 1;
    div {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}

.navbar2 {
    align-items: center;
    justify-content: center;
}

.boton-reserva {
    justify-content: flex-end;
    flex: 1;
    div {
        li {
            background-color: $colorFondoVerdeMedio;
            padding: 9px;
            border-radius: 20px;
        }
    }
}