.index-section1 {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "index-section1-1 index-section1-1 index-section1-1 index-section1-2"
    ;
}

.index-section1-1 {
    grid-area: index-section1-1;
}

.index-section1-2 {
    grid-area: index-section1-2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 350px;
    div {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
    }
    h3 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
}

.ingredientes {
    display: flex;
    justify-content: space-between;
    article {
        width: 450px;
    }
}

.index-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-section2-1 {
    article {
        div {
            display: flex;
            align-items: center;
        }
    }
}