/*Estilo Borde*/
.borde-negro {
    border: solid 3px black;
    border-radius: 10px;
}

/*Estilo Alineación*/
.alineacion-center {
    text-align: center;
}

/*Estilos Img*/
.estilo-img img {
    width: 100%;
}

/*Estilos Box Modeling*/
.pad-default {
    padding: 30px;
}

.mar-default {
    margin: 30px;
}