/*Estilo Borde*/
.borde-negro {
    border: solid 3px black;
    border-radius: 10px;
}

/*Estilo Alineación*/
.alineacion-center {
    text-align: center;
}

/*Estilos Box Modeling*/
.pad-default {
    padding: 30px;
}

.mar-default {
    margin: 30px;
}

img {
    object-fit: cover;
    width: 100%;
}

.icon {
    object-fit: none;
    width: auto;
}
