$colorLetrasVerde: #06261A;
$colorLetrasNegro: black;
$colorFondoVerdeBajo: #EFFAE0;
$colorFondoBlanco: #F9F9F9;
$colorFondoAmarillo: #ffd966;
$colorFondoRosa: #FADFDF;
$colorFondoVerdeMedio: #98AD8F;
$colorFondoAzul: #B9E1FF;