.color-body-verde {
    background-color: $colorFondoVerdeBajo;
}

.color-body-blanco {
    background-color: $colorFondoBlanco;
}

.fondo-amarillo {
    background-color: $colorFondoAmarillo;
}

.fondo-blaco {
    background-color: $colorFondoBlanco;
}

.fondo-rosa {
    background-color: $colorFondoRosa;
}

.fondo-verde-medio {
    background-color: $colorFondoVerdeMedio;
}

.fondo-azul {
    background-color: $colorFondoAzul;
}