.color-body-verde {
    background-color: #EFFAE0;
}

.color-body-blanco {
    background-color: #F9F9F9;
}

.fondo-amarillo {
    background-color: #ffd966;
}

.fondo-blaco {
    background-color: #F9F9F9;
}

.fondo-rosa {
    background-color: #FADFDF;
}

.fondo-verde-medio {
    background-color: #98AD8F;
}

.fondo-azul {
    background-color: #B9E1FF;
}