@media (max-width: 428px) {

    /*Títulos*/
    .h2-titulo-verde {
        font-size: 26px;
    }

    .h3-titulo-negro {
        font-size: 20px;
    }

    .h3-titulo-verde {
        font-size: 20px;
    }

    .h4-titulo-negro {
        font-size: 16px;
    }

    .h4-titulo-verde {
        font-size: 16px;
    }

    .h4-titulo-menu section div article h4 {
        font-size: 18px;
    }

    .h5-titulo-negro {
        font-size: 12px;
    }

    .h5-titulo-negro section div article h5 {
        font-size: 12px;
    }

    /*Párrafos*/
    p {
        color: black;
        font-size: 15px;
    }

    li {
        color: black;
        font-size: 15px;
    }

    /*Borde*/
    .borde-negro {
        border: solid 2px black;
        border-radius: 10px;
    }

    /*Box Modeling*/
    .pad-default {
        padding: 10px;
    }

    .mar-default {
        margin: 10px;
    }

    /*Barra de Navegación*/
    header {
        padding: 10px 20px;

        nav {
            ul {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
        }
    }

    .navbar1 {
        grid-column: 1/5;
        grid-row: 2/3;

        div {
            width: 100%;
        }
    }

    .navbar2 {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .boton-reserva {
        grid-column: 1/5;
        grid-row: 3/4;
        justify-content: center;
    }

    /*Pie de Página*/
    footer {
        font-size: 16px;
        padding: 15px 40px;

        div {
            flex-direction: column;
            justify-content: center;

            h5 {
                text-align: center;
            }
        }
    }

    /*index*/
    .index-section1-2 {
        width: 200px;
    }

    .ingredientes {
        article {
            width: 100%;
            display: flex;
            align-items: center;

            img {
                width: 30%;
                object-fit: contain;
            }

            div {
                width: 70%;
            }
        }
    }

    .index-section2 {
        div {
            iframe {
                width: 310px;
            }
        }
    }
        /*nosotros*/
        .nosotros-section1 {
            grid-template-columns: 1fr;
            grid-template-rows: 15% 70% 15%;
            justify-content: center;
            align-items: center;
            height: 1000px;
            article {
                grid-column: 1/2;
                grid-row: 2/3;
                width: 100%;
            }
        }
        .nosotros-section1-1 {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    
        .nosotros-section1-2 {
            grid-column: 1/2;
            grid-row: 3/4;
        }
    
        /*menu*/
        .pad-menu {
            article {
                padding: 5px 0px;
            }
        }

        /*promos*/
        .promos-width {
            width: 75%;
        }
        /*reserva*/
        form {
            width: 90%;
            label {
                font-size: 16px;
            }
            input {
                font-size: 12px;
            }
        }
        #reservar {
            font-size: 18px;
        }
}