@media (max-width: 1024px) {

    /*Títulos*/
    .h2-titulo-verde {
        font-size: 45px;
    }

    /*Box Modeling*/
    .pad-default {
        padding: 20px;
    }

    .mar-default {
        margin: 20px;
    }

    /*Barra de Navegación*/
    header {
        padding: 15px 40px;

        nav {
            ul {
                display: grid;
                width: 100%;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
        }
    }

    .navbar1 {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .navbar2 {
        grid-column: 1/7;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .boton-reserva {
        grid-column: 5/7;
        grid-row: 2/3;

        div {
            li {
                display: flex;
                width: 100%;
            }
        }
    }

    /*index*/
    .index-section1 {
        display: flex;
        flex-direction: column;
    }

    .ingredientes {
        flex-wrap: wrap;
        justify-content: center;
        article {
            width: 320px;
        }
    }

    .index-section2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            iframe {
                width: 700px;
            }
        }
    }

    /*nosotros*/
    .nosotros-section1 {
        height: 1700px;
    }

    /*menu*/
    .width-menu {
        width: 85%;
    }
    .menu-section2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    /*promos*/
    .promos-width {
        width: 60%;
    }

    /*reserva*/
    form {
        width: 70%;
    }
}